{
  "binance": {
    "api_key": "I7M1W1d..................................................NhJLubq",
    "api_secret": "k5nmyT....................................................DvsEfn"
  },
  "coinmarketcap": {
    "comment": "use this for latest prices",
    "api_key": "9464....-....-....-....-........114a"
  },
  "kraken": {
    "api_key": "EHo6wp............................................RVe4fa",
    "api_secret": "SNx8o...........................................................................aGjQFQ"
  },
  "kucoin": {
    "api_key": "6070................a9bd",
    "api_secret": "fcf8....-....-....-....-.......18f0b",
    "api_passphrase": "b........o"
  },
  "ethwallets": [
    { "name": "ledger",   "address": "0x0568F..................................." },
    { "name": "metamask", "address": "0x3e714..................................." },
    { "name": "coinbase", "address": "0x0B6c8..................................." },
    { "name": "mew",      "address": "0x5d628..................................." }
  ],
  "btcwallets": [
    { "name": "ledger",   "address": "33cP.............................." }
  ]
}
